DATABASE_URL="postgresql://postgres:postgres@localhost:5432/khana"
NODE_ENV=development|production
DB_HOST=localhost
DB_USER=user
DB_PASS=pass
CHECKPOINT_DISABLE=1 (for disabling prisma telemetry)
JWT_ALGORITHM=symmetric|asymmetric
DOMAIN=mossos.in
EMAIL_SUPPORT=support@mossos.in
EMAIL_NAME=Mossos
